.ps-body-window {
  font-family: "Lucida Console";
  background-color: #012456;
  overflow-y: auto;
  height: 300px;
  color: white;
}
.my-text-success {
  color: green;
}
.my-text-yellow {
  color: yellow;
}
.window-title {
  background-color: white;
  height: 30px;
}
.window-title, .ps-body-window {
 box-shadow: 10px 10px 5px #888888;
}
#ps-icon {
  height: inherit;
}
#ps-iconset {
  position:absolute;
  right: 0;
}
#ava {
  height: 306px;
}
