.ps-body-window {
    font-family: "Lucida Console";
    background-color: #012456;
    overflow-y: auto;
    height: 300px;
    color: white;
}

@media print {
    body {
        font-size: 10px;
    }
    .ps-body-window {
        font-family: "Lucida Console";
        background-color: #012456;
        overflow-y: auto;
        height: initial;
        color: white;
    }
    .formal {
        /*visibility: hidden;*/
        display: none;
    }
    .formal-ava {
      text-align: center;
    }
    h2 {
      margin-top: 0px;
    }
    footer {
        margin-top: 0px;
      }
}

.my-text-success {
    color: green;
}

.my-text-yellow {
    color: yellow;
}

.window-title {
    background-color: white;
    height: 30px;
}

.window-title, .ps-body-window {
    box-shadow: 10px 10px 5px #888888;
}

#ps-icon {
    height: inherit;
}

#ps-iconset {
    position: absolute;
    right: 0;
}

#ava {
    height: 153px;
}

.fake-browser-ui {
    padding: 10px 0 0;
    border-radius: 3px;
    border-bottom: 2px solid #ccc;
    background: #ddd;
    display: inline-block;
    position: relative;
    /*line-height: 0;*/
    /*border: 1px solid;*/
    box-shadow: 10px 10px 5px #888888;
}

.fake-browser-ui .frame {
    display: block;
    height: 15px;
    position: absolute;
    top: 5px;
    left: 1px;
}

.fake-browser-ui span {
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background-color: #eee;
    border: 1px solid #dadada;
    float: left;
    margin: 0 0 0 4px;
}

.fake-browser-content {
    background-color: white;
    height: 100%;
}

footer {
    margin-top: 25px;
    background-color: #012456;
    color: white;
}
.shell-title {
  background-color: black;
  color: white;
}

footer ul {
    list-style-type: none;
}
header {
  color: white;
  background-color: #012456;
  text-align: center;
  padding: 20px;
}
header ul li {
  display: inline-block;
  list-style: none;
}
.article {
  /*width: 600px;
  height: 1200px;*/
  padding: 40px;
  font-size: 16px;
  text-align: left;
}
.article img {
  float: left;
  margin-right: 20px;
}
